<%= form_for(@gen_expense) do |f| %>
  <% if @gen_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_expense.errors.count, "error") %> prohibited this gen_expense from being saved:</h2>

      <ul>
      <% @gen_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="quotationForm">

    <h2 class="fillForm">Generator Expenses</h2>
	
<div class="name-center"> 
    <label><span>For Bank: </span><%= @approved_client.nameOfBank %>, <%= @approved_client.district %></label><br>
    <%= f.hidden_field :client_detail_id, :value => @approved_client.id %>
  </div>
	<div class="gen_expense_form">
    <label class = "ll">Date <%= f.date_select :date %></label>
    <label class ="ll">Reading <%= f.text_field :reading, autofocus: true, :required => true, :class => '', :placeholder => 'Ok/Not Ok',:title => 'Reading' %></label>
    <label class ="ll">Self <%= f.radio_button(:readingBy, "Self") %> </label>
    <label class ="ll">Telephonic <%= f.radio_button(:readingBy, "Telephonic" )%> </label>
    <label class ="ll">Battery Status <%= f.text_field :batteryStatus, autofocus: true, :required => true, :class => "", :placeholder => 'OK/Not OK', :title => 'Battery Status'%></label>
    <label class="ll">Radiator Status <%= f.text_field :radiatorStatus, autofocus: true, :required => true, :class => "", :placeholder => 'OK/Not Ok', :title => 'Radiator Status'%></label>
    <label class ="ll">Diesel Charge <%= f.text_field :dieselCharge, autofocus: true, :required => true, :class => "", :placeholder => 'Diesel', :title => 'Diesel Charge'%></label>
    <label class="ll">Other Charges <%= f.text_field :otherExpenses, autofocus: true, :required => true, :class => "", :placeholder => 'Other', :title => 'Other' %></label>
 </div>
    <%= f.submit :class => 'quotation_submit btn-center', :value => 'Submit', :disabled => false, :disable_with => "Please wait..." %>
    </div> 
<% end %>
