<%= render 'welcome/header' %> <br><br><br><br><br>
<h2 class="table-heading">Generator Expenses</h2>

<div class="container">
        <%= link_to 'Taxes', taxes_path() %> </br>
<br>

<table id="genExpenses" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Branch</th>
      <th>Generator ID</th>
      <th>Gaurd Name</th>
      <th>Diesel Expenses</th>
      <th>Other Expenses</th>
      <th>Total Expenses</th>
      <th>Show</th>
      <th>Add Expenses </th>
    </tr>
  </thead>

  <tbody>
  <% 
      @sender_detail = SenderDetail.where(quotationtype: 'Real')
      @sender_detail.each do |sender|
        @client_detail = ClientDetail.where(sender_details_id: sender.id,
                                            approved: 't')
        @client_detail.each do |client|
    
          date = DateTime.now
          dieselExpenses = 0
          otherExpenses = 0

          @client_gen_set = ClientGenSet.where(client_detail_id: client.id) 
          gaurdName = ''
          genID = ''
          @client_gen_set.each do |gen_set|
            gaurdName = gen_set.gaurd_detail.name
            if(gen_set.gen_avail.blank?)
              genID = ''
            else
              genID = gen_set.gen_avail.genID
            end
          end
          
          @gen_expenses = GenExpense.where("client_detail_id = ? and date between ? and ?", 
                                           client.id,  date.beginning_of_month, 
                                           date.end_of_month)
          @gen_expenses.each do |expense|
            if (expense.client_detail_id == client.id)
              dieselExpenses += expense.dieselCharge
              otherExpenses  += expense.otherExpenses
            end
          end 

          total = dieselExpenses + otherExpenses
  %>
      <tr>
        <td><%= client.nameOfBank %></td>
        <td><%= client.district %></td>
        <td><%= genID  %></td>
        <td><%= gaurdName  %></td>
        <td><%= dieselExpenses  %></td>
        <td><%= otherExpenses  %></td>
        <td><%= total  %></td>
        <td><%= link_to "Show", controller: "gen_expenses", action: "show", id: client.id %></td>
        <td><%= link_to "Add Expenses", controller: "gen_expenses", action: "new", id: client.id %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<script>
    $(document).ready(function() {
    $('#genExpenses').dataTable({
      responsive: true
    });
  } );
</script>
