<%= form_for(@gen_detail) do |f| %>
  <% if @gen_detail.errors.any? %>
    <div id="error_explanation">
      <ul><br><br><br><br>
      <% @gen_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<section class="quotationSection">
    <div class="quotationForm">
    <h2 class="fillForm">Generator Type Details</h2>

 <label class="ll">Generator Type</label>  <%= f.text_field :genType, autofocus: true, :required => true, :class => 'nameOfBank', :placeholder => 'Type',:title => 'Generator Type' %><br>
 <label class="ll">Rent per Generator</label>  <%= f.text_field :genRent, autofocus: true, :required => true, :class => 'address', :placeholder => 'Rent', :title => 'Rent' %><br>
  
  <% if @gen_detail.totalGen.blank? %>
 <label class="ll">Total Available Generators </label>    <%= f.text_field :totalGen, autofocus: true, :required => true, :class => 'contactNumber', :placeholder => 'No. of Available Generators', :title => 'Total No.' %>
   <% else %>
	<% %>
	<% end %>
 <br><br>
          <p style="text-align: center;"><%= f.submit :class => 'quotation_submit', :value => 'Submit', :disabled => false, :disable_with => "Please wait..." %></p><br>

    </div> 
</section>
<% end %>
