<section class="dashboard" style="overflow:hidden; display:block;">
    <%= render 'welcome/header' %>
    <main>
        <div class="icon1">
            <div class="image1"></div>	
            <p class="textIcon1" style="text-align:center"><%= link_to "Sender Details", sender_path, {:class=>"link-color"} %></p>         
        </div>
        <div class="icon2">
            <div class="image2"></div>
           <p class="textIcon2" style="text-align:center"><%= link_to "Generator Details", generators_path, {:class=>"link-color"} %></p>
        </div>
        <div class="icon3">
            <div class="image3"></div>
           <p class="textIcon3" style="text-align:center"><%= link_to "New Client", clientdetails_path, {:class=>"link-color"} %></p>
                   </div>
        <div style="clear:both"></div>
        <div class="icon4">
           <div class="image4"></div>
            <p class="textIcon4" style="text-align:center"><%= link_to "Quotation Viewer", client_path, {:class=>"link-color"} %></p>
        </div>
        <div class="icon5"> 
            <div class="image5"></div>
            <p class="textIcon5" style="text-align:center"><%= link_to "Generator Expenses", genexpenses_path, {:class=>"link-color"} %></p>
        </div>        
        <div class="icon6">
            <div class="image6"></div>
            <p class="textIcon6" style="text-align:center"><%= link_to "Third Party Provider", thirdparty_path, {:class=>"link-color"} %></p>            
        </div>        
    </main>
</section>

