<header class="header" id="header" role="banner" style="display: block;">
    <nav class="navbar", role="navigation">
        <ul class="unlist1">	
            <li ><%= link_to "Home", root_path %></li>	
            <li ><%= link_to "DashBoard", dashboard_path %></li>
            <% if user_signed_in? %>
                <li><%= link_to "Log Out", logout_path %></li>
            <% else %>       
                <li><%= link_to "Login", login_path %></li>
            <% end %>
        </ul>
    </nav>  
</header>
