<section class="landingPage">    
    <div class="content">
        <h2 class="main-heading" id="main-heading">Amrit Engineering</h2><br>
        <h2 class="tagline1">Providing Generator</h2>
        <h2 class="tagline2">On</h2>
        <h2 class="tagline3">Rent Basis and Allied Services</h2>
        <p style="text-align: center;"><a href="/login"><button class="enter">Enter</button></a></p>
    </div> 
</section>