<%= render 'welcome/header' %> <br>
<section class="quotationSection">
    <div class="quotationForm">
    <h2 class="fillForm">Editing Generator Availability</h2>


<%= link_to 'Back', gen_details_path %>

<%= render 'form' %>

    </div> 
</section>


