<%= render 'welcome/header' %> <br>
<section class="quotationSection">
    <div class="quotationForm">
    <h2 class="fillForm">Editing Tax</h2>

<%= link_to 'Back', taxes_path %>


<%= render 'form' %>

    </div> 
</section>

