@import "layout";

.dashboard {
    width: 100%;
/*    height: 100%;*/
    background: $offwhite;    
    main {
        padding: 6.5em 0;
        @include breakpoint(alpha){padding: 7em 0;};
        @include container(65%);
        .icon1 {
            @include span(4 of 12);
            padding-bottom: 3em;
            @include breakpoint(alpha){@include span(2 of 4);}            
            .image1 {
                background: url($SenderDetails) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
                height: 100px;
                width: 100px;
            }
            .textIcon1 {
                @include breakpoint(alpha){font-size: 0.8em;};
                .link-color{
                    color: $mainblue;
                    font-size: 21px;
                    font-family: arial;
                    font-weight: 600;
                }

            }            
        }
        .icon2 {
            @include span(4 at 5 of 12);
            @include breakpoint(alpha){@include span(2 at 3 of 4);}            
            .image2 {
                background: url($Details) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
                height: 100px;
                width: 100px;
            }
            .textIcon2 {
                @include breakpoint(alpha){font-size: 0.74em;};
                .link-color{
                    color: $mainblue;
                    font-size: 21px;
                    font-family: arial;
                    font-weight: 600;
                }

            }                        
        }
        .icon3 {
            @include span(4 at 9 of 12);
            @include breakpoint(alpha){@include span(2 of 4);}            
            .image3 {
                background: url($SenderDetails) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;                
                height: 100px;
                width: 100px;
            }
            .textIcon3 {
                @include breakpoint(alpha){font-size: 0.74em;};
                .link-color{
                    color: $mainblue;
                    font-size: 21px;
                    font-family: arial;
                    font-weight: 600;
                }

            }            
        }
        .icon4 {
            @include span(4 of 12);
            @include breakpoint(alpha){@include span(2 at 3 of 4);}
            .image4 {
                background: url($Report) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
                height: 100px;
                width: 100px;
            }
            .textIcon4 {
                @include breakpoint(alpha){font-size: 0.74em;};
                .link-color{
                    color: $mainblue;
                    font-size: 21px;
                    font-family: arial;
                    font-weight: 600;
                }
            }            
        }
        .icon5 {
            @include span(4 at 5 of 12);
            @include breakpoint(alpha){@include span(2 at 3 of 4);}
            .image5 {
                background: url($Money) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
                height: 100px;
                width: 100px;
            }
            .textIcon5 {
                @include breakpoint(alpha){font-size: 0.74em;};
                .link-color{
                    color: $mainblue;
                    font-size: 21px;
                    font-family: arial;
                    font-weight: 600;
                }
            }            
        }
        .icon6 {
            @include span(4 at 9 of 12);
            @include breakpoint(alpha){@include span(2 at 3 of 4);}
            .image6 {
                background: url($thirdPartProvider) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
                height: 100px;
                width: 100px;
            }
            .textIcon6 {
                @include breakpoint(alpha){font-size: 0.74em;};
                .link-color{
                    color: $mainblue;
                    font-size: 21px;
                    font-family: arial;
                    font-weight: 600;
                }
            }            
        }                
    }
}
