@import "layout";

/* 
 * A P R O V E D . H T M L
 */

.approved {
	@include container(90%);
	.approvedText {
		color:#409f40;
		padding: 0.5em;		
	}
	h2.gen-head{
		text-align:center;
		font-size:36px;
		font-weight:bold;
		font-family:'lato',serif;
	}
	.approvedForm {
		@include container(75%);
		text-align: center;
		.genType {
			@extend .input;
		}
		.genNumber {
			@extend .input;
		}
		.number {
			@extend .input;
		}
		.form_submit {
			@extend .send;
		}				
	}
}

.q-label{
	float:left;
	width:50%;
	text-align:right;
	margin:0 20px 20px 0;
}
.q-option{
	float:left;
}
#senderDetails{
	border:2px solid #E3DDDD;
        border-radius: 2px;
}
#senderDetails th{
	font-family:'arial';
	text-align:center;
	font-size:20px;
}
#senderDetails td{
	font-family:'arial';
	text-align:center;
        font-size: 18px;
        line-height: 1.3;
}
input.new-sender {
	font-family:'arial';
	font-size:18px;
/*	width:150px;
	height:45px;
	margin-left:50px; */
	border:none;
	border-radius:2px;
	background:#28ABE3;
	color:#fff;	
        padding: 15px;
        cursor: pointer;
}

input.new-sender:hover{
	background: #035C83;
}

input.save{
	width:150px;
}

.container {
        width: 90%;
        margin: 0 auto;
}

.edit {
color: green;
}

.delete {
color: red;
}
